.dashboard{
    height: 100vh;
    display: flex;
    flex-direction: row;
    top: -450px;
    left: 820px;
    background: #E9F1F4;
    font-family: "Poppins", sans-serif;
}

.dashboard .global{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
