<section class="container">
    <div class="container-indicators">
        <div class="card">
            <div class="text">
                <p class="title">Temperatura</p>
                <div class="valores">
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Check.png" alt="Ok" class="estado">
                        <p class="cantidad">100</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert.png" alt="Medias" class="estado">
                        <p class="cantidad">20</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert (1).png" alt="Rojo" class="estado">
                        <p class="cantidad">30</p>
                    </div>
                </div> 
            </div>
            <img src="../../../assets/icons/indicadores/temperatura.png" alt="">
        </div>
        <div class="card">
            <div class="text">
                <p class="title">Presion</p>
                <div class="valores">
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Check.png" alt="Ok" class="estado">
                        <p class="cantidad">100</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert.png" alt="Medias" class="estado">
                        <p class="cantidad">20</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert (1).png" alt="Rojo" class="estado">
                        <p class="cantidad">30</p>
                    </div>
                </div>
            </div>
            <img src="../../../assets/icons/indicadores/presion.png" alt="">
        </div>
        <div class="card">
            <div class="text">
                <p class="title">Viento</p>
                <div class="valores">
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Check.png" alt="Ok" class="estado">
                        <p class="cantidad">100</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert.png" alt="Medias" class="estado">
                        <p class="cantidad">20</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert (1).png" alt="Rojo" class="estado">
                        <p class="cantidad">30</p>
                    </div>
                </div>
            </div>
            <img src="../../../assets/icons/indicadores/viento.png" alt="">
        </div>
        <div class="card">
            <div class="text">
                <p class="title">Niveles</p>
                <div class="valores">
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Check.png" alt="Ok" class="estado">
                        <p class="cantidad">100</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert.png" alt="Medias" class="estado">
                        <p class="cantidad">20</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert (1).png" alt="Rojo" class="estado">
                        <p class="cantidad">30</p>
                    </div>
                </div>
            </div>
            <img src="../../../assets/icons/indicadores/niveles.png" alt="">
        </div>
    </div>
</section>
 <section class="container">
    <div class="container-indicators">
        <div class="card">
            <div class="text">
                <p class="title">Energia</p>
                <div class="valores">
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Check.png" alt="Ok" class="estado">
                        <p class="cantidad">100</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert.png" alt="Medias" class="estado">
                        <p class="cantidad">20</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert (1).png" alt="Rojo" class="estado">
                        <p class="cantidad">30</p>
                    </div>
                </div>
            </div>
            <img src="../../../assets/icons/indicadores/energia.png" alt="">
        </div>
        <div class="card">
            <div class="text">
                <p class="title">Tension</p>
                <div class="valores">
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Check.png" alt="Ok" class="estado">
                        <p class="cantidad">100</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert.png" alt="Medias" class="estado">
                        <p class="cantidad">20</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert (1).png" alt="Rojo" class="estado">
                        <p class="cantidad">30</p>
                    </div>
                </div>
            </div>
            <img src="../../../assets/icons/indicadores/tension.png" alt="">
        </div>
        <div class="card">
            <div class="text">
                <p class="title">Monozido de carbono</p>
                <div class="valores">
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Check.png" alt="Ok" class="estado">
                        <p class="cantidad">100</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert.png" alt="Medias" class="estado">
                        <p class="cantidad">20</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert (1).png" alt="Rojo" class="estado">
                        <p class="cantidad">30</p>
                    </div>
                </div>
            </div>
            <img src="../../../assets/icons/indicadores/monoxido.png" alt="">
        </div>
        <div class="card">
            <div class="text">
                <p class="title">Otros gases</p>
                <div class="valores">
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Check.png" alt="Ok" class="estado">
                        <p class="cantidad">100</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert.png" alt="Medias" class="estado">
                        <p class="cantidad">20</p>
                    </div>
                    <div class="valor">
                        <img src="../../../assets/icons/indicadores/Alert (1).png" alt="Rojo" class="estado">
                        <p class="cantidad">30</p>
                    </div>
                </div>
            </div>
            <img src="../../../assets/icons/indicadores/otros-gases.png" alt="">
        </div>
    </div>
</section> 

 