.container-board{
    display: flex;
    flex-direction: column;
    width: 1262px;
    height: 350px;
    border-radius: 15px;
    opacity: 0px;
    background: #FFFFFF;
    font-family: "Poppins", sans-serif;
    overflow-y: auto;
}

.container-board .titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 20px;
    margin-left: 25px;
}

.container-board .container-titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.container-board .titles h3{
    width: 62px;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.container-board .titles .button-plants{
    width: 170px;
    height: 28px;
    border-radius: 5px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #B0CAD1;
    font-size: 12px;
    font-weight: 750;
    line-height: 18px;
    text-align: left;
    color: #000000;
    cursor:pointer;
}

.button-plants{
    width: 100px;
    height: 28px;
    border-radius: 5px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #B0CAD1;
    font-size: 12px;
    font-weight: 750;
    line-height: 18px;
    text-align: center;
    color: #000000;
    cursor:pointer;
    margin: 5px;
}

.line{
    width: 1222px;
    height: 0px;
    border: 1px;
    border: 1px solid #F3F6F7;
}

.table{
    font-family: "Poppins", sans-serif;
}

.table .table-head{
    width: 30vh;
    height: 21px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #B0CAD1;
}

.table .table-body{
    width: 1164.7px;
    height: 20px;
    color: #000000;
    
}

.table .table-body tr{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.table .table-body .flag{
    width: 18px;
    height: 12.38px;
    top: 371px;
    left: 130px;
    margin-right: 5px;
    
}

.table .table-body button{
    width: 12.05px;
    height: 2.7px;
    top: 370.53px;
    left: 1294.7px;
    background-color: #FFFFFF;
    
}
.table .table-body button img{
    width: 12.05px;
    height: 2.7px;
    top: 370.53px;
    left: 1294.7px;
    background-color: #FFFFFF;
    
}
.table .table-body .menu{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    margin-left: 2vh;
    position: absolute;
    top: 80px;
}

.table .table-body .menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .table .table-body .menu ul li{
    padding: 8px 12px;
    cursor: pointer;
  }

  .table .table-body .menu ul li :hover{
    background-color: #ccc;
  }

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
}

 .create-component{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2000;
} 