<section class="container-board">

    <div class="titles">
        <h3>Plantas</h3>
        <button>+ Crear nueva planta</button>
    </div>

    <hr class="line">

    <table class="table">
        <thead class="table-head">
            <th>Pais</th>
            <th>Nombre de la planta</th>
            <th>Lecturas</th>
            <th>Alertas medias</th>
            <th>Alertas rojas</th>
            <th>Acciones</th>
        </thead>
        <tbody class="table-body">
            <th>Argentina</th>
            <th>Quilmes</th>
            <th>300</th>
            <th>10</th>
            <th>2</th>
            <th>boton</th>
        </tbody>
        <tbody class="table-body">
            <th>Argentina</th>
            <th>Quilmes</th>
            <th>300</th>
            <th>10</th>
            <th>2</th>
            <th>boton</th>
        </tbody>
        <tbody class="table-body">
            <th>Argentina</th>
            <th>Quilmes</th>
            <th>300</th>
            <th>10</th>
            <th>2</th>
            <th>boton</th>
        </tbody>
        <tbody class="table-body">
            <th>Argentina</th>
            <th>Quilmes</th>
            <th>300</th>
            <th>10</th>
            <th>2</th>
            <th>boton</th>
        </tbody>
        <tbody class="table-body">
            <th>Argentina</th>
            <th>Quilmes</th>
            <th>300</th>
            <th>10</th>
            <th>2</th>
            <th>boton</th>
        </tbody>
        <tbody class="table-body">
            <th>Argentina</th>
            <th>Quilmes</th>
            <th>300</th>
            <th>10</th>
            <th>2</th>
            <th>boton</th>
        </tbody>
        <tbody class="table-body">
            <th>Argentina</th>
            <th>Quilmes</th>
            <th>300</th>
            <th>10</th>
            <th>2</th>
            <th>boton</th>
        </tbody>
        <tbody class="table-body">
            <th>Argentina</th>
            <th>Quilmes</th>
            <th>300</th>
            <th>10</th>
            <th>2</th>
            <th>boton</th>
        </tbody>
    </table>


</section>

