<section class="container-board">
<div class="container-titles">
    <div class="titles">
        <h3>Plantas</h3>
        <button class="button-plants" (click)="createPlantState(true)">+ Crear nueva planta</button>
    </div>
    <div *ngIf="optionPlant == true">
        <button class="button-plants" (click)="modifyPlantFun(true)" >Modificar</button>
        <button class="button-plants" (click)="deletePlant()">Eliminar</button>
    </div>
</div>
    <hr class="line">

    <table class="table">
        <thead class="table-head">
            <tr>
                <th>Pais</th>
                <th>Nombre de la planta</th>
                <th>Lecturas</th>
                <th>Alertas medias</th>
                <th>Alertas rojas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody  class="table-body">
            <tr *ngFor="let p of plantBoard">
                <td><img src={{p.urlFlag}} class="flag">{{p.country}}</td>
                <td>{{p.name}}</td>
                <td>{{p.cantReadings}}</td>
                <td>{{p.cantAlertMedium}}</td>
                <td>{{p.cantAlertRed}}</td>
                <td>
                    <div class="img" (click)="optionsPlant(p)">
                        <img src="../../../assets/icons/Vector.png"  alt="opciones" class="puntos">
                    </div> 
                </td>

            </tr>
        </tbody>
    </table>
</section>

<div *ngIf="createPlant" class="background">
    <app-create-plant (event)="createPlantState($event)"></app-create-plant>
</div>

<div *ngIf="modifyPlant" class="background">
    <app-modify-plant (event)="modifyPlantFun($event)" [plantModify]="plantSelected"></app-modify-plant>
  </div>
