<section class="container">
    <section class="container-left">
      <h1 class="title">Iniciar sesiòn</h1>
      <p class="p-information">
        Nos alegra tenerte de vuelta y estamos listos para atender tus
        necesidades. Inicia sesión y continúa aprovechando al máximo nuestra
        plataforma.
      </p>
      <div class="article-information">
        <div class="container-logo">
          <img src="../../../assets/icons/Shape.png" class="icon-shape" />
        </div>
        <div class="container-titulos">
          <p class="title-monitoreo">Monitoreo integral</p>
          <p class="info-monitoreo">
            Administra, monitorea mutiples plantas de forma centralizada
          </p>
        </div>
      </div>
  
      <div class="article-information">
        <div class="container-logo">
          <img src="../../../assets/icons/Icon.png" class="icon-shape" />
        </div>
        <div class="container-titulos">
          <p class="title-notifiacion">Notificaciones en tiempo real</p>
          <p class="info-notificacion">
            Recibi notificaciones en tiempo real sobre las mediciones
          </p>
        </div>
      </div>
    </section>
      
    <section class="container-right">

    <div *ngIf="viewFormLogin">
       <article class="article-titles">
        <h2>Portal de Monitoreo</h2>
        <p>Iniciar Sesiòn</p>
      </article>
      <form class="form" [formGroup]="formLogin" (submit)="login()">
        <div class="div-continer-form">
          <label for="email">Email</label>
          <input
            formControlName="email"
            type="email"
            class="email"
            id="email"
            name="email"
            placeholder="techforb@tech.com"
          />
          <div
            class="errorMsg isTop"
            *ngIf="
              formLogin.get('email')?.invalid &&
              (formLogin.get('email')?.touched || formLogin.get('email')?.dirty)
            "
          >
            <div *ngIf="formLogin.get('email')?.errors?.['required']">
              Campo Obligatorio
            </div>
            <div *ngIf="formLogin.get('email')?.errors?.['pattern']">
              Correo Invalido
            </div>
          </div>
          <div class="contrasenia">
            <input
              formControlName="password"
              type="password"
              placeholder="Ingresa tu contraseña"
            />
            <div
              class="row errorColor"
              *ngIf="
                formLogin.get('password')?.invalid &&
                (formLogin.get('password')?.touched ||
                  formLogin.get('password')?.dirty)
              "
            >
              <div
                class="errorMsg"
                *ngIf="formLogin.get('password')?.errors?.['required']"
              >
                Campo Obligatorio
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-password">
          <a class="olvido">¿Olvidaste tu contraseña?</a>
          <input
            class="buttons"
            type="submit"
            class="submit"
            id="submit"
            value="Iniciar sesión"
          />
        </div>
      </form> 
      
  
      <p class="politica">
        Protegido por reCAPTCHA y sujeto a la
        <a class="strong">Politica de Privacidad</a> y<a class="strong">
          Condiciones</a
        >
        <br />
        ¿Aun no tiene una cuenta?
        <a class="strong" (click)="updateStateView()">Registrarse</a>
      </p> 
    </div>

    <app-register *ngIf="!viewFormLogin"></app-register>
      
    </section>  
    
    
    
  </section>