
.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container-left {
    background-image: linear-gradient(to bottom, #33A3AA 100%, #107076 100%), url(../../../assets/icons/fondo-login.png);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    width: 796px;
    height: 100vh;
    opacity: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 361px;
    height: 58px;
    top: 319px;
    left: 128px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}

.p-information {
    width: 360px;
    height: 72px;
    top: 387px;
    left: 128px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.article-information {
    padding-left: 5vh;
    color: #FFFFFF;
    display:flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 2vh;
    margin-bottom: 2vh;
    white-space: nowrap;
    width: 411px;
    height: 41px;
/*     top: 479px;
    left: 128px; */

}


.article-information .icon.shape {
    width: 24px;
    height: 24px;
}

.article-information .icon.icon {
    width: 20px;
    height: 20px;
}


.article-information .container-titulos .title-monitoreo {
    width: 130px;
    height: 21px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}

.article-information .container-titulos .info-monitoreo {
    width: 375px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;

}

.article-information .container-titulos .title-notifiacion{
    width: 207px;
    height: 21px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;

}

.article-information .container-titulos .info-notificacion {
    width: 346px;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;

}

.container-right{
    width: 675px;
    height: 100vh;
    left: 765px;
    border: 1px solid #DCDBDD;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-titles h2{
    width: 368px;
    height: 55px;
    top: 260px;
    left: 907px;
    font-size: 36.48px;
    font-weight: 600;
    line-height: 54.71px;
    text-align: left;
    color: #202020;
}

.article-titles p{
    width: 165px;
    height: 48px;
    top: 315px;
    left: 907px;
    font-size: 25px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    color:#202020;
}


.form{
    width: 393px;
    left: 907px;
}

.div-continer-form{
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.div-continer-form input{
    width: 100%;
    padding: 10px;
    border: 2px solid #DCDBDD;
    border-radius: 8px;
    outline: none;
}

.div-continer-form label{
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-size: 12px;
    color: #333;
}

.buttons-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.submit{
    width: 164px;
    height: 48px;
    top: 539px;
    left: 1136px;
    background-color: #33A3AA;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #FFFFFF;
    border: 1px 0px 0px 0px;
    border-radius: 10px;

    color: #FFFFFF;
    border: 1px solid #DCDBDD
}

.submit :hover{
    background-color: #1fc0cb;
}

.politica{
    width: 385px;
height: 34px;
top: 607px;
left: 908px;
font-size: 12px;
font-weight: 400;
line-height: 17px;
text-align: left;
}

.strong{
font-size: 12px;
font-weight: 400;
line-height: 17px;
text-align: left;
color: #33A3AA;
}

a{
    cursor: pointer;
}
