<section class="container">
    <section class="container-left">
        <h1 class="title">Iniciar Sesiòn</h1>
        <p class="p-information">
            Nos alegra tenerte de vuelta y estamos listos para atender tus
            necesidades. Inicia sesión y continúa aprovechando al máximo nuestra
            plataforma.
        </p>
        <article class="article-information">
            <img src="../../../assets/icons/Shape.png" class="icon-shape" />
            <div class="container-titulos">
                <p class="title-monitoreo">Monitoreo integral</p>
                <p class="info-monitoreo">
                    Administra, monitorea mutiples plantas de forma centralizada
                </p>
            </div>
        </article>

        <article class="article-information">
            <img src="../../../assets/icons/Icon.png" class="icon-icon" />
            <div class="container-titulos">
                <p class="title-notifiacion">Notificaciones en tiempo real</p>
                <p class="info-notifiacion">
                    Recibi notificaciones en tiempo real sobre las mediciones
                </p>
            </div>
        </article>
    </section>
    <section class="container-right">
        <article class="article-titles">
            <h2>Portal de Monitoreo</h2>
            <p>Iniciar Sesiòn</p>
        </article>
        <form class="form">
            <div class="div-continer-form">
                <label for="email">Email</label>
                <input type="email" class="email" id="email" name="email" placeholder="techforb@tech.com"/>

                <div class="contrasenia">
                    <input type="password" placeholder="Ingresa tu contraseña" />
                    <!-- <button class="botonOjo">
                        <img src="../../../assets/icons/password.png" alt="Mostrar/Ocultar Contraseña" />
                    </button> -->
                </div>

                <!-- <p>{{mensaje}}</p> -->
            </div>
            <div class="buttons-password">
                <a class="olvido">¿Olvidaste tu contraseña?</a>
                <input [routerLink]="['/dashboard']" type="submit" class="submit" id="submit" value="Iniciar sesión" />
            </div>
        </form>

        <p class="politica">
            Protegido por reCAPTCHA y sujeto a la
            <a class="strong">Politica de Privacidad</a> y<a class="strong">
                Condiciones</a>
        </p>
        <p class="registrarse">Registrarse</p>
    </section>
</section>