<section class="container-readings">

    <div class="cards">
        <div class="text">
            <p class="title">Lecturas OK</p>
            <p class="number">{{countReading.alertsOk}}</p>
        </div>
        <img src="../../../assets/icons/readingsGlobal/Icon (1).png" alt="">
        
    </div>
    <div class="cards">
        <div class="text">
            <p class="title">Alertas Medias</p>
            <p class="number">{{countReading.alertsMedias}}</p>
        </div>
        <img src="../../../assets/icons/readingsGlobal/Group_8719.png" alt="">
    </div>
    <div class="cards">
        <div class="text">
            <p class="title">Alertas Rojas</p>
            <p class="number">{{countReading.alertsRed}}</p>
        </div>
        <img src="../../../assets/icons/readingsGlobal/Group_8705.png" alt="">

    </div>
    <div class="cards">
        <div class="text">
            <p class="title">Sensores Deshabilitados</p>
            <p class="number">{{countReading.sensorsDisiabled}}</p>
        </div>
        <img src="../../../assets/icons/readingsGlobal/Group_8712.png" alt="">

    </div>

</section>
