
<section class="container">
    <div class="logo">
        <img src="../../../assets/icons/sideBar/Logo.png" alt="">
    </div>
    <div class="navegation">
        <img class="dasboard" src="../../../assets/icons/sideBar/Dashboard.png" alt="">
        <img class="monitoreo-inactive" src="../../../assets/icons/sideBar/Monitoreo_por_planta_inactive.png" alt="">
        <img class="historico-sensors" src="../../../assets/icons/sideBar/Histórico_de_sensores_inactive.png" alt="">
        <img class="historico-plants" src="../../../assets/icons/sideBar/Histórico_de_plantas_inactive.png" alt="">
        <img class="logout" src="../../../assets/icons/sideBar/Cerrar_sesión.png" alt="">
    </div>
</section>
