<div class="backround"></div>

<section class="section-modal">
    <article class="title">
        <h2>Crear nueva planta</h2>
    </article>
    <form [formGroup]="formCreatePlant" (submit)="addPlant()" class="form-plant"> 
        <div class="div-continer-form">
            <label class="name-plant">Nombre planta</label>
            <input formControlName="name" type="text" class="" id="" name="email" placeholder="Techborb"/>

            <div class="pais">
                <label class="select-label">Pais</label>
                <select class="select-input" formControlName="indexCountry">
                    <option *ngFor="let c of countries; let i = index" [value]="i">{{c.name}}</option>
                </select>
            </div>
        </div>
        <div class="buttons">
            <button class="cancelar" (click)="cancelCreatePlant()" >Cancelar</button>
            <button  type="submit" class="crear">Crear</button>
        </div>
    </form>
</section>

