<div class="backround"></div>

<!-- <section class="modal"> -->



<section class="section-modal">
    <h2 class="title">Crear nueva planta</h2>
        <form class="form-plant">
            <p>Nombre planta</p>
            <input type="text" name="" id="">

            <p>Pais</p>
            <select name="" id="">
                <option value="">Argentina</option>
                <option value="">Argentina</option>
                <option value="">Argentina</option>
            </select>

            <div>
                <button type="submit">Cancelas</button>
                <button type="submit">Crear</button>
            </div>
        </form>
</section>

<!-- </section> -->
