.backround {
    width: 100%;
    height: 900px;
    opacity: 0.3px;
}

.container {

    font-family: "Poppins", sans-serif;
    z-index: 1000;
    width: 720px;
    height: 360px;
    border-radius: 15px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vh;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .title {
    width: 91px;
    height: 21px;
    top: 290px;
    left: 390px;
    margin-bottom: 2vh;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form {
    display: flex;
    margin-bottom: 3vh;
    flex-direction: row;
}

.container-form .section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    margin-right: 3vh;
}

.container-form .section label {
    width: 20vh;
    height: 21px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #838B9E;
    margin-bottom: 0.3vh;
}

.pais {
    width: 320px;
    height: 42px;
    top: 392px;
    left: 560px;
    gap: 0px;
    border-radius: 7.43px;
    border: 0.93px;
    border: 0.93px solid #C6C9D2
}

.container-form .section input {
    width: 320px;

    border-radius: 7.43px;
    border: 0.93px 0px 0px 0px;
    opacity: 0px;
    border: 0.93px solid #C6C9D2;
    padding: 10px;
}

.div-right select {
    width: 320px;
    height: 42px;
    top: 357px;
    left: 390px;
    gap: 0px;
    border-radius: 7.43px;
    border: 0.93px;
    opacity: 0px;
    border: 0.93px solid #C6C9D2;
}

.div-right .buttons {
    display: flex;
    margin-right: 3vh;
}

.div-right .buttons .cancel {
    width: 100px;
    height: 36px;
    top: 575px;
    left: 615px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    color: #33A3AA;
    border: 1px solid #33A3AA;
    margin-right: 3vh;
    cursor: pointer;
}

.div-right .buttons .creat {
    width: 100px;
    height: 36px;
    top: 575px;
    left: 725px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;


    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    background: #33A3AA;
    color: white;
    cursor: pointer;
}