<section class="backround"></section>
<section class="container">
    <h4 class="title">Editar planta</h4>
    <form [formGroup]="formModify" >
        <div class="form">
            <div class="container-form">
                <div class="div-left">
                    <section class="section">
                        <label class="title-input" for="nombre">Nombre planta</label>
                        <input type="text" class="nombre" formControlName="name">
                        <label class="label-warning" *ngIf="formModify.get('name')?.invalid && (formModify.get('name')?.dirty || formModify.get('name')?.touched)">Campo obligatorio</label>
                    </section>

                    <section class="section">
                        <label class="title-input" for="lecturas">Cantidad de lecturas</label>
                        <input type="number" class="lecturas" formControlName="cantReadings">
                        <label class="label-warning" *ngIf="formModify.get('cantReadings')?.invalid && (formModify.get('cantReadings')?.dirty || formModify.get('cantReadings')?.touched)">Campo obligatorio</label>
                    </section>

                    <section class="section">
                        <label class="title-input" for="medias">Alertas medias</label>
                        <input type="number" class="medias" formControlName="cantAlertMedium">
                        <label class="label-warning" *ngIf="formModify.get('cantAlertMedium')?.invalid && (formModify.get('cantAlertMedium')?.dirty || formModify.get('cantAlertMedium')?.touched)">Campo obligatorio</label>
                    </section>

                    <section class="section">
                        <label class="title-input" for="roja">Sensores deshabilitados</label>
                        <input type="number" class="roja" formControlName="sensorsDisiabled">
                        <label class="label-warning" *ngIf="formModify.get('sensorsDisiabled')?.invalid && (formModify.get('sensorsDisiabled')?.dirty || formModify.get('sensorsDisiabled')?.touched)">Campo obligatorio</label>
       
                    </section>

                </div>

                <div class="div-right">
                    <section class="section">
                        <label class="title-input" for="pais">País</label>
                        <!--      <select class="pais" id="pais" name="pais" formControlName="country">
                                  @for(pais of paises;track pais; let index = $index){
                        <option [value]="pais.getNombre">{{pais.getNombre}}</option>
                   }  
                        </select> -->
                        <select class="pais" id="pais" name="pais" formControlName="indexCountry">
                            <option *ngFor="let c of countries; let i = index" [value]="i">{{c.name}}</option>
                        </select>
                    </section>


                    <section class="section">
                        <label class="title-input" for="ok">Lecturas ok</label>
                        <input type="number" class="ok" formControlName="readingsOk">
                        <label class="label-warning" *ngIf="formModify.get('readingsOk')?.invalid && (formModify.get('readingsOk')?.dirty || formModify.get('readingsOk')?.touched)">Campo obligatorio</label>
                    </section>

                    <section class="section">
                        <label class="title-input" for="roja">Alertas rojas</label>
                        <input type="number" class="roja" formControlName="cantAlertRed">
                        <label class="label-warning" *ngIf="formModify.get('cantAlertRed')?.invalid && (formModify.get('cantAlertRed')?.dirty || formModify.get('cantAlertRed')?.touched)">Campo obligatorio</label>
                    </section>
                    <div class="buttons">
                        <button class="cancel" (click)="cancelModify()">Cancelar</button>
                        <input type="submit" (click)="modifyPlantFun()" class="creat">
                    </div>
                    <label *ngIf="flagSumReadings" class="label-warning" >Lecturas totales incorrectas, deben coincidir las sumas</label>
                </div>

            </div>


        </div>
    </form>
 
</section>